.eventList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.wrapper .eventList {
  max-height: 250px;
  overflow-y: auto;
}

.inputField button {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;
}
